// Primary colors
$color-primary: #2e5ef6;
$color-secondary: #394873;
$color-purple: #bd69ff;
$color-orange: #ffae73;
$color-light: #dfe7fe;

// typography colors
$color-dark: #171717;
$color-gray-1: #333333;
$color-gray-2: #505050;
$color-gray-3: #dadae2;

// notification colors
$color-green: #1fd151;
$color-red: #e84141;
$color-orange-2: #f39958;
